body {
    margin: 0;
}

.card {
    background: #000;
    color: white;
    width: 560px;
    margin: 0 auto;
    padding: 45px;
}

h1, p {
    margin-top: 0;
}

h1 {
    font-size: 3rem;
    margin-bottom: 2em;
}

p {
    font-size: 18px;
}

a {
    color: black;
}

.button {
    display: inline-block;
    background: #FFE600;
    color: black;
    padding: .5em 1.25em;
    /* em is relative to the font-size
       of this element */
    text-align: center;
    text-decoration: none;
    margin-bottom: 50px;
}

.button:hover {
    background: orange;
}

.btn-big {
    font-size: 1.5rem;
}

.btn-small {
    font-size: .75rem;
}

.accent-color {
    color: #FFE600;
}

.links {
    margin-top: 0;
    margin-bottom: 0;
}
