body {
    margin: 0;
}

h1, h2, p {
    margin-top: 0;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

a {
    color: #FFE600;
}

header,
section {
    padding: 50px;
}

header {
    background: #FFE600;
    color: #000;
}

.section-one {
    background: black;
    color: white;
}

.section-two a {
    color: black;
}

.section-one .btn {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 25px;
    background-color: #FFE600;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.section-one .btn:hover {
    background: white;
}

.section-two .btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: black;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.section-two .btn:hover {
    background: #FFE600;
    color: black;
}